@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Libre+Franklin:wght@400;500;600;700&family=Made+Bon+Boyage&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Made Bon Boyage', cursive;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 10px; 
}